*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D5E1EF;
}

.qrcode {
      width: 200px;
      height: 200px;
      padding: 10px;
      margin-right: 20px;
    }

footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 14px;
    color: #000000;
}

h1 {
    font-size: 24px;
    color: #000000;
    padding-left: 80px;    
    text-align: space-around;
    background-color: aqua;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    color: #000000;
     margin-bottom: 0;
}

.quadradoMedio {
    width: 400px;
    height: 550px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
}

.quadradoMenor {
    width: 300px;
    height: 350px;
    background-color: #2C7DFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
